.CommunityUploadPage {
    background-color: #efede1;
    height: auto;
    min-height: 100vh;
    padding-bottom: 50px;
}

.CommunityUploadPage > .upload-container > div > input {
    font-family: 'NanumSquare';
    height: 40px;
}

.CommunityUploadPage > .upload-container > textarea {
    min-height: 70vh;
}
