#lecture_container, #mentoring_container, 
#club_container, #community_container {
    display: grid;
    height: auto;
}

#lecture_container, #mentoring_container, 
#club_container {
    grid-template-columns: 1fr 1fr;
}

#community_container {
    grid-template-columns: 1fr;
}

#lecture-item, #mentoring-item, #club-item {
    height: auto;
    margin: 5px;
    width: 15vw;
}
.scroll{
    overflow-x: auto;
    white-space: nowrap;
    width: 12.6vw;
}
.scroll::-webkit-scrollbar {
    width: 5px; /*스크롤바의 너비*/
}

.scroll::-webkit-scrollbar-thumb {
    background-color: #9e9d94; /*스크롤바의 색상*/
    opacity: 30%;
    border-radius: 0.5rem;
}

.scroll::-webkit-scrollbar-track {
    background-color: #fffdf6; /*스크롤바 트랙 색상*/
    border-radius: 0.5rem;
}

#community-item {
     height: 75px;
     background-color: #D8E2D2;
     margin: 5px;
}

#lecture-item > img:nth-child(1),
#mentoring-item > img:nth-child(1), 
#club-item > img:nth-child(1) {
    width: 90%;
    height: 120px;
    border-radius: 10px;
    margin: 3%;
}

#lecture-item > div:nth-child(2),
#mentoring-item > div:nth-child(2),
#club-item > div:nth-child(2) {
    font-size: 18px;
    font-weight: bold;
    margin: 13px;
    color: #3F3F3F;
}

.spanTag {
    border: 1px solid red;
    font-size: 14px;
    margin: 2px;
    background-color: #7DC59D;
    padding: 5px 10px;
    border-radius: 12px;
    color: #EFEDE1;
    font-weight: bold;
    color: #3F3F3F;
    display: inline-block;
}

#club-item > div:nth-child(3) {
    font-size: 14px;
    margin: 7px 3px 0px 15px;
    font-weight: bold;
    color: #3F3F3F;
}

@media (max-width:500px) {
    #lecture_container, #mentoring_container, 
    #club_container {
        grid-template-columns: 1fr;
    }
}