.header {
    height: 130px;
    background-color: #2E493A;
}

.headercontainer {
    display: grid;
    grid-template-columns: 3fr 1fr;
    width: 90%;
    height: 130px;
    margin: 0 auto;
}

.headerright {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.logo {
    font-size: 3.5rem;
    font-weight: bold;
    color: #EFEDE1;
    cursor: pointer;
    font-family: 'Playfair Display';
    line-height: 120px;
}

.lectureBtn {
    cursor: pointer;
    width: 60px;
    height: 60px;
}

.user-text {
    font-size: 1.1em;
    min-width: 65px;
    color: #EFEDE1;
    cursor: pointer;
    text-align: center;
}

#my {
    min-width: 88px;
}