.navbarcontainer {
  width: 65%;
  height: 70px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.navbarcontainer div {
  color: #3f3f3f;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
}

.navbarcontainer div:hover {
  border-bottom: 5px solid #749683;
}
.selectNav {
  border-bottom: 5px solid #749683;
}
.navbarcontainer div {
  width: 20%;
  text-align: center;
}
