.clubGalleryDetailContainer {
    width: 70%;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}

.clubGalleryDetailBox {
    width: 25%;
    text-align: center;
    margin: 30px 0 30px 0;
}

.clubGalleryDetailImg {
    width: 90%;
}

.clubGalleryDetailTitlle {
    margin-top : 20px;
    font-size: 20px;
    font-weight: bold;
    color: #2E493A;
}

#clubGalleryDetailBtn {
    border: none;
    background-color: #2E493A;
    color: #efede1;
    padding: 3%;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    margin: 3%;
  }