.clubPageContent {
    width: 70%;
    margin: 0 auto;
    margin-top: 50px;
}

.sortBtnBox {
    margin-bottom: 20px;
    margin-right: 35px;
    text-align: right;
}

.sortBtn {
    border: 2px solid #749683;
    border-radius: 8px;
}

.SearchPostBox{
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    width: 60%;
    height: 40px;
    margin: 0 auto;
}
.postBtn{
    display: flex;
    background-color: #749683;
    color: white;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    padding: 7px;
    border-radius: 8px;
    cursor: pointer;
}
.postBtn img{
    width: 30px;
    height: 30px;
}

.searchBar{
    margin-right: 10px;
}