.clubDeailContainer {
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}
.ClubDetailLeft {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.ClubDetailCenter {
    display: flex;
    width: 100%;
}


.ClubDetailRight {
    width: 100%;
    display: flex;
    flex-direction: column;
}


.clubImageUploadBtn {
    display: flex;
    background-color: #749683;
    color: white;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    padding: 7px;
    border-radius: 8px;
    cursor: pointer;
}
.clubImageUploadBtn img {
    width: 30px;
    height: 30px;
}

.noArticle {
    width: 100%;
    height: 200px;
    text-align: center;
    line-height: 200px;
    font-size: 20px;
    font-weight: 700;
    color: #2e493a;
}

@media (min-width: 600px) and (max-width: 1024px) {
    .clubDeailContainer {
        width: 90%;
        margin: 0 auto;
        margin-top: 30px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .ClubDetailLeft {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }

    .ClubDetailCenter {
        display: flex;  
        width: 100%;
    }

    .ClubDetailRight {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}
