#lectureCategorySection {
  border-left: 1px solid #2e493a;
}
#lectureCategorySection ul {
  list-style-type: none;
  color: #2e493a;
}
#lectureCategorySection li {
  font-size: 18px;
  margin: 40% 0;
}
#lectureCategorySection li li {
  font-size: 14px;
}
#lectureCategorySection li li:hover {
  font-size: 18px;
  font-weight: 400;
}
#lectureCategorySection li:hover {
  font-size: 22px;
  font-weight: 400;
}
