@media (min-width: 1024px) {
  #lectureContainerBox {
    width: 70%;
    display: flex;
    margin: 0 auto;
  }
  #lectureLeftContainer {
    width: 200px;
  }
  #lectureLeftCategory {
    display: block;
  }
  #lectureLeftCategoryModal {
    display: none;
  }
  #lectureRightContainer {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 4%;
    margin: 0 5%;
    width: 70%;
    height: 100%;
    border-radius: 10px;
  }
  #lectureRightContainer span {
    font-size: 12px;
  }
  #lectureRightContainerHeader {
    display: flex;
  }
  #lectureRightContainerHeader section {
    width: 70%;
  }
  #lectureRightContainerHeader article {
    width: 30%;
  }
  #selecBoxDiv {
    text-align: right;
  }
  #selectBox {
    margin-top: 10px;
    position: relative;
    right: 30px;
    color: #2e493a;
    font-weight: 700;
  }
}
@media (min-width: 600px) and (max-width: 1023px) {
  #selecBoxDiv {
    text-align: right;
  }
  #selectBox {
    margin-top: 10px;
    position: relative;
    right: 30px;
  }
  #lectureContainerBox {
    width: 90%;
    display: flex;
    margin: 0 auto;
  }
  #lectureLeftContainer {
    width: 200px;
  }
  #lectureLeftCategory {
    display: block;
  }
  #lectureLeftCategoryModal {
    display: none;
  }
  #lectureRightContainer {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 4%;
    margin: 0 5%;
    width: 70%;
    height: 100%;
    border-radius: 10px;
  }
  #lectureRightContainer span {
    font-size: 12px;
  }
  #selecBoxDiv {
    text-align: right;
  }
  #selectBox {
    margin-top: 10px;
    position: relative;
    right: 30px;
    color: #2e493a;
    font-weight: 700;
  }
}

@media (max-width: 600px) {
  #selecBoxDiv {
    text-align: right;
  }
  #selectBox {
    margin-top: 10px;
    position: relative;
    right: 30px;
    color: #2e493a;
    font-weight: 700;
  }
  #selecBoxDiv {
    text-align: right;
  }
  #selectBox {
    margin-top: 10px;
    position: relative;
    right: 30px;
  }
  #lectureContainerBox {
    transition: 0.25s all;
    width: 70%;
    display: flex;
    margin: 0 auto;
  }
  #lectureLeftContainer {
    width: 14%;
  }
  #lectureLeftCategory {
    display: none;
  }
  #lectureLeftCategoryModal {
    display: block;
    width: 30px;
  }
  #categoryIcon {
    width: 100%;
    cursor: pointer;
  }
  #lectureRightContainer {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 4%;
    margin: 0 5%;
    width: 70%;
    height: 100%;
    border-radius: 10px;
  }
  #lectureRightContainer span {
    font-size: 12px;
  }
}

#selectBox {
  border: 2px solid #749683;
  border-radius: 10px;
  color: #2e493a;
  text-align: center;
}
