.selectBar{
    display: flex;
    justify-content: flex-end;
    width: 85%;
    margin-top: 1%;
    margin-bottom: 1%;
}
#selectBox{
    border: 2px solid #749683;
    border-radius: 8px;
}
.viewSection{
    /* border: 1px solid pink; */
    background-color: #EFEDE1;
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.postBtnBox{
    /* border: 1px solid; */
    display: flex;
    justify-content: flex-end;
    width: 60%;
    height: 40px;
    margin: 0 auto;
}
.postBtn{
    display: flex;
    background-color: #749683;
    color: white;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    padding: 7px;
    border-radius: 8px;
    cursor: pointer;
}
.postBtn img{
    width: 30px;
    height: 30px;
}