.clubArticle {
    margin-bottom: -20px;
    min-width: 380px;
    display: flex;
    align-items: center;
    text-align: center;
    border-top: 1px solid rgb(46, 73, 58, 0.2);
}

.clubArticleTitle {
    display: flex;
    align-items: center;
    width: 48%;
    color: #2E493A;
}

.clubArticleTitleNum {
    font-size: 20px;
    margin-left: 20px;
    font-weight: bold;
}

.clubArticleTitleContentBox {
    display: flex;
    align-items: center;
    margin-left: 45px;
    margin-right: 2px;
}

.clubArticleTitleContent {
    margin-top: 15px;
    font-size: 23px;
    margin-right: 10px;
    font-weight: bold;
}

.clubArticleTitleComment {
    font-size: 20px;
    font-weight: bold;
    color: #FF0000;
}

.clubArticleWriter {
    width: 26%;
    color: #2E493A;
    font-size: 1.2rem;
    font-weight: bold;
}

.clubArticleDate {
    width: 26%;
    color: #2E493A;
    font-size: 17px;
}
