.clubItemContainer {
    width: 20vw;
    height: 350px;
    background-color: #D8E2D2;
    margin: 0 20px 50px 20px;
    border-radius: 20px;
}

@media (min-width : 1320px) {
    .clubItemContainer {
        width: 20vw;
        height: 350px;
        background-color: #D8E2D2;
        margin: 0 20px 40px 20px;
        border-radius: 20px;
    }
}

@media (min-width : 920px) and (max-width : 1319px) {
    .clubItemContainer {
        width: 30vw;
        height: 350px;
        background-color: #D8E2D2;
        margin: 0 20px 40px 20px;
        border-radius: 20px;
    }
}

@media (min-width : 420px) and (max-width : 919px) {
    .clubItemContainer {
        width: 70vw;
        height: 350px;
        background-color: #D8E2D2;
        margin: 0 20px 40px 20px;
        border-radius: 20px;
    }
}

.clubContents{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

.clubItemBox {
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

.clubImg{
    width: 100%;
    height: 200px;
    border-radius: 30px;
    margin-bottom: 5px;
}

.clubLocation {
    margin-top: 20px;
    margin-bottom: 10px;
}

.clubName{
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 10px;
}

.clubNameMemberBox {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}