
.clubInfo {
    width: 15vw;
    min-width: 100px;
    text-align: center;
    margin: 0 auto;
}

.clubInfoName{
    font-size: 30px;
    font-weight: bold;
}

.clubMembers {
    color: #6F6F6F;
    font-weight: bold;
    font-size: 20px;
}

.clubJoin {
    height: 6vh;
    line-height: 6vh;
    margin : 15px 0 20px 0;
    font-size: 30px;
    color : #EFEDE1;
    background-color: #2E493A;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}

.clubArticleUplodBtn {
    height: 6vh;
    line-height: 6vh;
    margin : 15px 0 20px 0;
    font-size: 30px;
    color : #EFEDE1;
    background-color: #2E493A;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}