#login-container {
    display: flex;
    height: 100vh;
}

#login-left {
    width: 40%;
    min-width: 300px;
    background-color: #2e493a;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-left > h1 {
    color: #efede1;
    font-size: 80px;
    font-family: 'Playfair Display';
    cursor: pointer;
}

#login-right {
    width: 60%;
    min-width: 400px;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #efede1;
}

#login-form > h1 {
    color: #2e493a;
    font-size: 30px;
    font-weight: bold;
    margin: 3%;
    text-align: center;
}

#login-form {
    min-width: 400px;
    padding: 0 20px;
}

#login-form > input {
    border: none;
    outline: none;
    border-bottom: 1px solid #2e493a;
    background-color: #efede1;
    width: 100%;
    height: 40px;
    margin: 8px auto;
    font-size: 16px;
}

#login-form > input[type="password"] {
    font-family: "NanumSquareac";
}

#login-form > button {
    border: 1px solid #2e493a;
    background-color: #2e493a;
    color: #efede1;
    border-radius: 10px;
    margin: 10px auto;
    display: inline-block;
    width: 100%;
    height: 40px;
    cursor: pointer;
    font-size: 16px;
}

#login-form > input, 
#login-form > button {
  font-family: 'NanumSquare'; 
}

#go-sign-text {
    text-align: center;
    color: #494949;
    font-size: 13px;
}

#go-sign-text > span {
    border-bottom: 1px solid rgb(136, 136, 136);
    cursor: pointer;
}