.post-detail-container {
    width: 70%;
    min-width: 500px;
    height: auto;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 10px;
}

#post-detail-content {
    width: 90%;
    margin: 15px auto;
}

#post-detail-content > div:nth-child(1) {
    display: inline;
    background-color: #2E493A;
    padding: 5px 10px;
    color: #fff;
    border-radius: 15px;
}

#post-detail-writer-box {
    display: flex;
    padding: 10px;
}

#post-detail-writer-box > img {
    width: 50px;
    height: 50px;
    padding: 3px;
    border-radius: 5px;
    /* background-color: #bebebe; */
}

#post-detail-writer-box > div > img {
    width: 5px;
    height: auto;
}

#detail-btns > button {
    width: 42%;
    height: 80%;
    font-size: 1rem;
    border: none;
    outline: none;
    border-bottom: 1px solid #2E493A;
    color: rgb(92, 92, 92);
    background-color: rgba(255, 255, 255, 0);
    margin: 0px 3px;
    white-space: no-wrap;
}

#detail-btns > button:hover {
    color: black;
    font-weight: bold;
    border-bottom: 2px solid #2E493A;
}

#post-detail-writer-box > div:nth-child(2) {
    margin-left: 15px;
    width: 55%;
}

#post-detail-writer-box > div:nth-child(3) {
    width: 35%;
}

#post-detail-content > div:nth-child(3),
#post-detail-content > div:nth-child(4) {
    margin: 5px;
}

#post-detail-content > div:nth-child(3) {
    font-size: 25px;
    font-weight: bold;
}

#post-detail-content > img {
    display: inline-block;
    width: 300px;
    height: 200px;
    padding: 3px;
    border-radius: 5px;
    /* background-color: #e2e2e2; */
}

@media (min-width: 350px) and (max-width: 599px) {
    .PostDetailPage > .post-detail-container {
        width: 100%;
        min-width: 300px;
    }

    #post-detail-content > #post-detail-writer-box > div:nth-child(2) {
        width: 50%;
    }

    #post-detail-content > #post-detail-writer-box > div:nth-child(3) {
        width: 40%;
    }

    #post-detail-content > #post-detail-writer-box > div:nth-child(3) > button {
        font-size: 1em;
    }
}

@media (min-width: 350px) and (max-width: 399px) {
    #post-detail-content > #post-detail-writer-box > div:nth-child(3) > button {
        font-size: 0.75em;
    }
}

