#signupDiv {
  display: flex;
  height: 100vh;
}

#signupLeft {
  width: 40%;
  /* min-width: 300px; */
  background-color: #2e493a;
  display: flex;
  justify-content: center;
  align-items: center;
}

#signupRight {
  width: 60%;
  min-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #efede1;
}

#signupLeft img {
  width: 50%;
    max-width: 280px;
    min-width: 180px;
    cursor: pointer;
}
#signupRight h2 {
  text-align: center;
  font-weight: bold;
  color: #2e493a;
  margin: 3%;
  height: 50px;
}
#signupForm input:focus {
  outline: none;
}
#signupSubmit {
  border: 1px solid #2e493a;
  background-color: #2e493a;
  color: #efede1;
  padding: 3%;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 5px;
  width: 95%;
}
#signupForm {
  height: 80%;
}
#signupForm input {
  border: none;
  border-bottom: 1px solid #2e493a;
  background-color: #efede1;
  width: 100%;
  height: 8%;
  margin: 2px auto;
  color: #2e493a;
}
#signupForm input[type="password"] {
  font-family: "NanumSquareac";
}
#signupForm button {
  border: 1px solid #2e493a;
  background-color: #2e493a;
  color: #efede1;
  border-radius: 10px;
  padding: 2%;
  margin: 3%;
  cursor: pointer;
}
#signup-email-box {
  display: flex;
  width: 100%;
  height: 7%;
  align-items: flex-start;
  margin: 0.7%;
}
#signupForm div input {
  width: 22%;
}

#signup-email-box > input {
  height: 90%;
}

#signupForm > input,
#signupForm > div > input,
#signupForm > div > button {
  font-family: "NanumSquare";
}
#goToLogin {
  color: #2e493a;
  font-size: 14px;
}
#signupForm article {
  text-align: center;
  font-size: 14px;
}

#signup-select-box {
  width: 100%;
  height: 40px;
  background-color: #efede1;
  border-radius: 10px;
  border: 2px solid #2e493a;
  color: #2e493a;
  margin: 10px 0;
  outline: none;
}

@media (min-width: 500px) and (max-width: 700px) {
  #signupLeft > img {
      min-width: 150px;
  }
}